{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "babel"
  ],
  "rules": {
    // Additional, per-project rules...
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "mocha/no-exclusive-tests": "error",
    "linebreak-style": "off"
  }
}
